/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: whitesmoke;
  background-image: url(images/outdooreating.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;

}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  
}
h2.page-header{
  font-family: Georgia;
}
h3{
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.text-muted{
  color: white;
  font-family: Georgia;
  font-size: 25px
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: rgb(241, 238, 238);
 
}

/* Customize container */
@media (max-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #0a0404;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
 
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
  .header {
    margin-bottom: 30px;
  }
  
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}

a {
color: white;
font-weight: bold;
}

.btn-success {
  background-color: black;
  border-color: black;
}

/* logged out */
.alert-success {
color: black;
background-color: white;
border-color: brown
}
.form-control{
  background-color: white;
  color: black;
  border: 2px solid whitesmoke;
}
